# compiled output of experiment code
out
src/Makefile
src/experiment
src/experiment_dbg
src/**/*_m.h
src/**/*_m.cc

doc/doxy
doc/neddoc

# compiled protobuf files
src/protobuf/*.pb.h
src/protobuf/*.pb.cc

# experiment results
scenario/results/*
